

body{
    width: 100%;
    height: 100vh;
    
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(100, 210, 237);
}

.container{
    padding: 20px;
    border-radius: 15px;
    text-align: center;
    position: relative;
    max-width: 300px;
    border-radius: 10px;
    background: rgba(50, 15, 15, 0.2);
    backdrop-filter: blur(10px);
    color: rgb(217, 211, 211);


}

.stopwatch {
    font-size: 2.5em;
    font-weight: bold;
    padding: 20px 0;

}

.buttons {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin: 15px 0;
}

button{
    padding: 10px 15px;
    border: none;
    border-radius: 20px;
    font-size: 16px;
    cursor: pointer;
    font-weight: bold;
    transition: 0.3s;
    
}

button:hover{
    transform: scale(1.1);
}

.start {background: red;}
.pause {background:blue}
.reset {background:brown;}
.lap {background:pink;}
 
.laps {
    margin-top: 10px;
    max-height: 200px;
    overflow-y: auto;
    padding: 5px;
    border-top: 2px;

}

.lap-item {
    background: rgba(255, 255, 255, 0.2);
    padding: 8px;
    margin: 5px 0;
    border-radius: 10px;
    font-size: 1em;
    animation: fadeIn 0.3s ease-in-out;


}

@keyframes fadeIn {
    from { opacity: 0; transform: translateY(-10px);}
    to { opacity: 1; transform: translateY(0);}
}



